body{
    margin: 0;
}

.container {
    width: 100%;
    margin: 0px auto;
    min-width: 900px;
    text-align: center;
}


.mainhomebody{


}
.my_carsearch {
    padding: 10px; /* Add some padding for spacing */
    margin-bottom: 20px; /* Add margin to separate from other sections */
}

.search_list{
    padding: 10px;
    margin: 0 auto;
}

.mycar_search_title{
    color: blue;

}
.mycar_title{
    color: black;
}

.search_list_title{
    list-style: none;

}
.search_detail{
    float: left;
    margin: 0 auto;
}

.search_box{
    padding: auto;
    margin: 0 auto;
}

